{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% load i18n %}
{% load ace %}
{% load static %}
{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td>
            <h1>
                {% blocktrans %}
                    Hi {{firstname}},
                {% endblocktrans %}
            </h1>

            <p style="color: rgba(0,0,0,.75);">
                {% blocktrans %}
                    You have been registered successfully on {{ site_name }}.
                {% endblocktrans %}
                <br />
            </p>

            <p style="color: rgba(0,0,0,.75);">
                {% blocktrans %}
                    This is your login information:
                {% endblocktrans %}
            </p>

            <p style="color: rgba(0,0,0,.75);">
                <b>{% blocktrans %}Registration Number (username):{% endblocktrans %}</b>
                {% blocktrans %}{{ regno }}{% endblocktrans %}
                <br />
                <b>{% blocktrans %}Email:{% endblocktrans %}</b>
                {% blocktrans %}{{ email }}{% endblocktrans %}
                <br />
                <b>{% blocktrans %}Password:{% endblocktrans %}</b>
                {% blocktrans %}{{ password }}{% endblocktrans %}
            </p>

            <p style="color: rgba(0,0,0,.75);">
                {% blocktrans %}A random password has been set for your account. You should change it after login.{% endblocktrans %}
            </p>

            <p style="color: rgba(0,0,0,.75);">
                {% blocktrans %} Click here to login: {% endblocktrans %}
                <a class="login" href="{% with_link_tracking dashboard_url %}" style="color: #005686;">{% with_link_tracking dashboard_url %}</a>
            </p>

            <p style="color: rgba(0,0,0,.75);">
                {% blocktrans %}
                    Thanks,
                {% endblocktrans %}
                <br/>
                {% blocktrans %}
                    {{ platform_name }}
                {% endblocktrans %}
                <br />
            </p>
        </td>
    </tr>
</table>
{% endblock %}
